{% block content %}
<!-- Footer -->
<footer class="container">

    <!-- Footer Links -->
    <div class="row c-helpful-links">

        <div class="col-md-2">
            <div class="footer-link-wrapper">
                <a href="#!">About us</a>
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-link-wrapper">
                <a href="#!">Awards</a>
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-link-wrapper">
                <a href="#!">Contact</a>
            </div>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-copyright">© 2018 Copyright:
        <a href="https://www.linkedin.com/in/justyna-broniszewska-490/" target="_blank"> Justa </a>
        <div class="sr-only"><a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a></div>
    </div>

</footer>

{% endblock content %}